.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.headlight {
	width: 50px;
	height:100px;
	background-color: yellow;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	top: 620px;
	right:300px;
	position: absolute;
	box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
  }
  .half-circle {
	width: 50px;
	height: 100px;
	background-color: red;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	top:620px;
	left:300px;
	position: absolute;
	box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.7);
  }
  .front {
	width: 100%;
	height: 50px;
	background-color: lightblue;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  }
  .windshield {
	width: 80px;
	height: 30px;
	background-color: lightblue;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .frondclass{
	Width: 922px;
	Height: 400px;
	clip-path: polygon(57.3% 20.8%, 98.8% 8%, 94.1% 46%, 81.1% 67%, 65% 89.8%, 32.3% 88%, 20.1% 74.5%, 0% 43%, 28.3% 26.5%);
	background-color: lightgoldenrodyellow;
	position: relative;
  }

